@import "../../../../colors.scss";

.chatSlotContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px 0px 10px;
  font-size: 16px;
  border-bottom: 1px solid $jumbo;
  cursor: pointer;
  height: 90px;
}
.chatSlotProfileSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 15%;
}
.profileIcon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.messageSection {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.messageHeader {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1.2em;
  font-weight: bold;
}
.date {
  font-size: 1.1em;
  font-weight: 600;
  color: $jumbo;
}
.description {
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  color: $jumbo;
  margin-bottom: 5px;
}
.chatListContainer {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 225px);
  max-height: calc(100vh - 225px);
  overflow-y: auto;
  user-select: none;
}

@media only screen and (max-width: 480px) {
  .chatSlotContainer {
    font-size: 13px;
    height: 75px;
  }
  .title {
    font-size: 1.15em;
  }
  .profileIcon {
    width: 60px;
    height: 60px;
  }
}
