@import "../../colors.scss";

.container {
  background-color: $white;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 20px;
}
