.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #201D1E;
  height: 100vh;
  max-height: 100vh;
}
*{
box-sizing: border-box !important;}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #8C9CA6;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #445a80;
  border-radius: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slick-prev {
  left: 4px !important;
  z-index: 80 !important;
}
.slick-next {
  left: 125px !important;
  z-index: 80 !important;
}
.slick-dots{
  bottom: 20px !important;
  
}
.slick-dots li{
  height: 10px !important;
  width: 10px !important;
  margin: 0px 2px !important;
}