$white: #ffffff;
$scorpion: #74676a;
$thunder: #201d1e;
$alto: #d5d2d3;
$jumbo: #8a898e;
$wild-sand: #f6f6f6;
$dodger-blue: #208afd;
$periwinkle-gray: #c9d4ed;
$st-tropaz: #2b5994;
$kashmir-blue: #516d9e;
$catskill-white: #f2f4f8;
$turquoise: #35d4c1;
$red: #f40116;
